{
	"root": true,
	"parser": "vue-eslint-parser",
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"extends": [
		"eslint:recommended",
		"@nuxtjs/eslint-config-typescript",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended"
	],
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"indent": ["error", "tab"],
		"no-tabs": ["error", { "allowIndentationTabs": true }],
		"vue/html-indent": ["error", "tab"],
		"vue/multi-word-component-names": [
			"error",
			{
				"ignores": ["default", "index"]
			}
		]
	}
}
