{
	"root": true,
	"parser": "vue-eslint-parser",
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"extends": [
		"eslint:recommended",
		"@nuxtjs/eslint-config-typescript",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended",
		"prettier"
	],
	"rules": {
		"vue/multi-word-component-names": [
			"error",
			{
				"ignores": ["default", "index", "transactions", "accounts"]
			}
		]
	}
}
