[submodule "backend-rust/concordium-rust-sdk"]
	path = backend-rust/concordium-rust-sdk
	url = ../concordium-rust-sdk.git
[submodule "backend/concordium-net-sdk"]
	path = backend/concordium-net-sdk
	url = ../concordium-net-sdk.git
