@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&family=Overpass:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* 1. Font families */
	--font-family-mono: 'Overpass Mono', Lucida Console, Lucida Sans Typewriter,
		monaco, Bitstream Vera Sans Mono, monospace;
	--font-family-primary: 'Overpass', Lucida Grande, Lucida Sans Unicode,
		Lucida Sans, Geneva, Verdana, sans-serif;

	/* 2. Palette */
	--color-primary: 239, 69%, 54%; /* purple */
	--color-primary-light: 239, 69%, 64%;
	--color-white: 0, 0%, 100%;
	--color-background-primary: 247, 40%, 18%;
	--color-background-elevated: hsla(245, 24%, 51%, 20%); /* grayish purple */
	--color-background-elevated-hover: hsla(245, 24%, 51%, 20%);
	--color-border-primary: var(--color-primary);
	--color-interactive: 162, 69%, 54%; /* green */
	--color-interactive-hover: 162, 69%, 59%; /* green */
	--color-interactive-dark: 162, 69%, 29%; /* green */
	--color-info: 209, 100%, 52%; /* blue */
	--color-error: 11, 82%, 57%; /* flame #EB5837 */
	--color-error-dark: 11, 82%, 32%; /* flame #95270f */

	/* 2.1 Text Palette */
	--color-text-regular: var(--color-white);
	--color-text-primary: var(--color-primary);
	--color-text-primary-inversed: var(--color-white);
	--color-text-faded: hsl(245, 24%, 51%);

	--color-text-light: var(--color-common-grey);
	--color-text-dark: var(--color-common-black);

	--color-text-error-darkmode: var(--color-common-red-darkmode);
	--color-text-error-lightmode: var(--color-common-red-lightmode);

	/* 2.2 Button Palette */
	--color-button-bg-primary: var(--color-primary);
	--color-button-bg-primary-hover: var(--color-primary-light);
	--color-button-text-primary: var(--color-text-primary-inversed);
	--color-button-bg-primary-disabled: hsl(244, 30%, 26%);
	--color-button-text-primary-disabled: hsl(247, 35%, 72%);
	--color-button-bg-ghost-hover: hsl(246, 40%, 21%);

	/* 2.3 Input Palette */
	--color-input-bg: hsla(245, 24%, 51%, 25%);
	--color-input-placeholder: hsl(245, 24%, 51%);

	/* 2.4 Table Palette */
	--color-thead-bg: hsl(246, 40%, 21%);

	/* 2.5 Tooltip Palette */
	--color-tooltip-bg: hsl(247deg, 39%, 12%);

	/* 2.5 Tooltip Palette */
	--color-shadow-dark: hsl(247, 40%, 8%);
}

::selection {
	background-color: hotpink;
}

body {
	@apply text-theme-white;
	/* prevents layout shift when locking body scroll */
	overflow-y: scroll;
	overflow-x: hidden;
}

.numerical {
	font-family: var(--font-family-mono);
	font-variant-ligatures: none;
}

.max-w-screen {
	max-width: 100vw;
}
